<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>메인화면</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/common.css" rel="stylesheet">

</head>

<body class="bg-light">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a>
      <!-- small display : menu button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- normal display : navigation list -->
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">매장찾기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">자랑하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">커뮤니티</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">고객센터</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회원가입</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.Navigation -->


  <!-- Page Content # 1 -->
  <!-- ================================여기 부분부터 내용이 달라집니다.================================ -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="py-1 mt-4">
      <h4 class="display-5">New Store</h4>
      <hr class="mb-1">
    </header>

    <!-- Page Features -->
    <div id="gallery-top" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <figure class="snip1273 rounded">
                <img class="rounded" src="../../image/shop01.PNG" alt="Image 1" />
                <figcaption class="mt-5">
                  <h5>개님살롱</h5>
                  <p class="mt-5">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded">
                <img class="img-fluide rounded" src="../../image/shop02.PNG" alt="Image 2" />
                <figcaption class="mt-5">
                  <h5>개님살롱</h5>
                  <p class="mt-5">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded">
                <img class="rounded" src="../../image/shop03.PNG" alt="Image 3" />
                <figcaption class="mt-5">
                  <h5>개님살롱</h5>
                  <p class="mt-5">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <figure class="snip1273 rounded">
                <img class="rounded" src="../../image/shop04.PNG" alt="Image 4" />
                <figcaption class="mt-5">
                  <h5>개님살롱</h5>
                  <p class="mt-5">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded">
                <img class="rounded" src="../../image/shop05.PNG" alt="Image 5" />
                <figcaption class="mt-5">
                  <h5>개님살롱</h5>
                  <p class="mt-5">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded">
                <img class="rounded" src="../../image/shop06.PNG" alt="Image 6" />
                <figcaption class="mt-5">
                  <h5>개님살롱</h5>
                  <p class="mt-5">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <img src="../../image/shop09.PNG" alt="Image 9" />
            </div>

            <div class="col">
              <img src="../../image/shop10.PNG" alt="Image 10" />
            </div>

            <div class="col">
              <img src="../../image/shop11.PNG" alt="Image 11" />
            </div>


          </div>

          <div class="row my-4">
            <div class="col">
              <img src="../../image/shop13.PNG" alt="Image 13" />
            </div>

            <div class="col">
              <img src="../../image/shop14.PNG" alt="Image 14" />
            </div>

            <div class="col">
              <img src="../../image/shop15.PNG" alt="Image 15" />
            </div>

 
          </div>
        </div>

      </div>

      <a class="carousel-control-prev main-carousel-icon" href="#gallery-top" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next main-carousel-icon" href="#gallery-top" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />


    <!-- //row -->

  </div>
  <!-- // Page Content # 1 -->

  <!-- Page Content # 2 -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="py-1 mt-4">
      <h4 class="display-5">Popular Store</h4>
      <hr class="mb-1">
    </header>

    <!-- Page Features -->
    <div id="gallery-bottom" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <img src="../../image/shop42.PNG" alt="Image 1" />
            </div>

            <div class="col">
              <img src="../../image/shop41.PNG" alt="Image 2" />
            </div>

            <div class="col">
              <img src="../../image/shop40.PNG" alt="Image 3" />
            </div>
          </div>

          <div class="row my-4">
            <div class="col">
              <img src="../../image/shop39.PNG" alt="Image 5" />
            </div>

            <div class="col">
              <img src="../../image/shop38.PNG" alt="Image 6" />
            </div>

            <div class="col">
              <img src="../../image/shop37.PNG" alt="Image 7" />
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <img src="../../image/shop36.PNG" alt="Image 9" />
            </div>

            <div class="col">
              <img src="../../image/shop35.PNG" alt="Image 10" />
            </div>

            <div class="col">
              <img src="../../image/shop34.PNG" alt="Image 11" />
            </div>


          </div>

          <div class="row my-4">
            <div class="col">
              <img src="../../image/shop33.PNG" alt="Image 13" />
            </div>

            <div class="col">
              <img src="../../image/shop32.PNG" alt="Image 14" />
            </div>

            <div class="col">
              <img src="../../image/shop31.PNG" alt="Image 15" />
            </div>

 
          </div>
        </div>

      </div>

      <a class="carousel-control-prev main-carousel-icon" href="#gallery-bottom" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next main-carousel-icon" href="#gallery-bottom" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- //row -->
  </div>
  <!-- //Page Content # 2 -->




<!-- 
  <figure class="snip1273">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
    <figcaption>
      <h3>Fletch Skinner</h3>
      <p>I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway. </p>
    </figcaption>
  </figure>
  <figure class="snip1273 hover">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample21.jpg" alt="sample21"/>
    <figcaption>
      <h3>Indigo Violet</h3>
      <p>What's the point of wearing your favorite rocketship underpants if nobody ever asks to see 'em?</p>
    </figcaption> 
  </figure>
  <figure class="snip1273">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample86.jpg" alt="sample86"/>
    <figcaption>
      <h3>Gunther Beard</h3>
      <p>Given that sooner or later we're all just going to die, what's the point of learning about integers?</p>
    </figcaption>
  </figure>
 -->








  <!-- ================================여기까지가 내용이 바뀌는 부분입니다.================================ -->

  <!-- Footer -->
  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 text-left text-white">
        <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a><br><br>
        <b>페타그램</b>&nbsp;&nbsp;&nbsp;서울특별시 서초구 서초대로 77길 13 401호<br>
        <b>대표이사</b> : 풀스택A팀&nbsp;&nbsp;&nbsp;<b>사업자등록번호</b> : 000-00-00000&nbsp;&nbsp;&nbsp;<b>고객센터</b> :
        02-000-0000&nbsp;&nbsp;&nbsp;<b>이메일</b> : help@petagram.com
      </p>
    </div>
  </footer>
  <!-- /.Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> -->
  <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- 캐러셀 -->
  <!-- 자동회전 텀 -->
  <script>
    var timer = setInterval(function () {
      $('#nextButton').trigger('click');
    }, 500)
  </script>

  <!-- hover -->
  <script>
    $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
  );
  </script>












</body>

</html>