<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>메인화면</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/common.css" rel="stylesheet">

</head>

<body class="bg-light">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a>
      <!-- small display : menu button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- normal display : navigation list -->
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">매장찾기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">자랑하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">커뮤니티</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">고객센터</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회원가입</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.Navigation -->


  <!-- Page Content # 1 -->
  <!-- ================================여기 부분부터 내용이 달라집니다.================================ -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="py-1 mt-4">
      <h4 class="display-5">New Store</h4>
      <hr class="mb-1">
    </header>

    <!-- Page Features -->
    <div id="gallery-top" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        <!-- New Store 첫번째 페이지 -->
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore01">
                <img class="rounded" src="../../image/shop01.PNG" alt="Image 1" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>                    
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore02">
                <img class="img-fluide rounded" src="../../image/shop02.PNG" alt="Image 2" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore03">
                <img class="rounded" src="../../image/shop03.PNG" alt="Image 3" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore04">
                <img class="rounded" src="../../image/shop04.PNG" alt="Image 4" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore05">
                <img class="rounded" src="../../image/shop05.PNG" alt="Image 5" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore06">
                <img class="rounded" src="../../image/shop06.PNG" alt="Image 6" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4 mb-0">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>
        </div>
        <!-- //new Store 첫번째 페이지 -->

        <!-- New Store 두번째 페이지 -->
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore07">
                <img class="rounded" src="../../image/shop07.PNG" alt="Image 7" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>                    
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore08">
                <img class="img-fluide rounded" src="../../image/shop08.PNG" alt="Image 8" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore09">
                <img class="rounded" src="../../image/shop09.PNG" alt="Image 9" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore10">
                <img class="rounded" src="../../image/shop10.PNG" alt="Image 10" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore11">
                <img class="rounded" src="../../image/shop11.PNG" alt="Image 11" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#newStore12">
                <img class="rounded" src="../../image/shop12.PNG" alt="Image 12" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4 mb-0">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>

        </div>
        <!-- //new Store 두번째 페이지 -->
      </div>

      <a class="carousel-control-prev main-carousel-icon" href="#gallery-top" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next main-carousel-icon" href="#gallery-top" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- //row -->

  </div>
  <!-- // Page Content # 1 -->

  <!-- Page Content # 2 -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="py-1 mt-4">
      <h4 class="display-5">Popular Store</h4>
      <hr class="mb-1">
    </header>

    <!-- Page Features -->
    <!-- popular Store 첫번째 페이지 -->
    <div id="gallery-bottom" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore01">
                <img class="rounded" src="../../image/shop42.PNG" alt="Image 42" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>                    
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore02">
                <img class="img-fluide rounded" src="../../image/shop41.PNG" alt="Image 41" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore03">
                <img class="rounded" src="../../image/shop40.PNG" alt="Image 40" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore04">
                <img class="rounded" src="../../image/shop39.PNG" alt="Image 39" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore05">
                <img class="rounded" src="../../image/shop38.PNG" alt="Image 38" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore06">
                <img class="rounded" src="../../image/shop37.PNG" alt="Image 37" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4 mb-0">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>
        </div>
        <!-- //popular Store 첫번째 페이지 -->
        

        <!-- popular Store 두번째 페이지 -->
        <div class="carousel-item">
          <div class="row">
            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore07">
                <img class="rounded" src="../../image/shop36.PNG" alt="Image 36" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>                    
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore08">
                <img class="img-fluide rounded" src="../../image/shop35.PNG" alt="Image 35" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore09">
                <img class="rounded" src="../../image/shop34.PNG" alt="Image 34" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore10">
                <img class="rounded" src="../../image/shop33.PNG" alt="Image 33" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore11">
                <img class="rounded" src="../../image/shop32.PNG" alt="Image 32" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>

            <div class="col">
              <figure class="snip1273 rounded pointer-cursor" data-toggle="modal" data-target="#popularStore12">
                <img class="rounded" src="../../image/shop31.PNG" alt="Image 31" />
                <figcaption>
                  <h5 class="mt-5">개님살롱</h5>
                  <p class="mt-5 pt-4 mb-0">서울특별시 마포구 아현동 424-10</p>
                </figcaption>
             </figure>
            </div>
          </div>
        </div>
        <!-- //popular Store 두번째 페이지 -->
      </div>


      <a class="carousel-control-prev main-carousel-icon" href="#gallery-bottom" role="button" data-slide="prev">
        <span class="main-carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next main-carousel-icon" href="#gallery-bottom" role="button" data-slide="next">
        <span class="main-carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <!-- //row -->

  </div>
  <!-- //Page Content # 2 -->


<!-- 매장 이미지 클릭시 모달창 (매장 갯수만큼)-->
<!-- New Store 첫번째 페이지 (두번째 페이지는 복붙해서 id, aria-labellendby, img만 바꿔주면됨-->
<div class="modal fade bs-example-modal-lg" id="newStore01" tabindex="-1" role="dialog" aria-labelledby="newStore01"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop01.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">1 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="newStore02" tabindex="-1" role="dialog" aria-labelledby="newStore02"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop02.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">2 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="newStore03" tabindex="-1" role="dialog" aria-labelledby="newStore03"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop03.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">3 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="newStore04" tabindex="-1" role="dialog" aria-labelledby="newStore04"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop04.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">4 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="newStore05" tabindex="-1" role="dialog" aria-labelledby="newStore05"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop05.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">5 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="newStore06" tabindex="-1" role="dialog" aria-labelledby="newStore06"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop06.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">6 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>



<!-- popular Store 첫번째 페이지 (두번째 페이지는 복붙해서 id, aria-labellendby, img만 바꿔주면됨-->
<div class="modal fade bs-example-modal-lg" id="popularStore01" tabindex="-1" role="dialog" aria-labelledby="popularStore01"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop42.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">1 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="popularStore02" tabindex="-1" role="dialog" aria-labelledby="popularStore02"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop41.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">2 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="popularStore03" tabindex="-1" role="dialog" aria-labelledby="popularStore03"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop40.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">3 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="popularStore04" tabindex="-1" role="dialog" aria-labelledby="popularStore04"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop39.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">4 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="popularStore05" tabindex="-1" role="dialog" aria-labelledby="popularStore05"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop38.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">5 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="popularStore06" tabindex="-1" role="dialog" aria-labelledby="popularStore06"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="pt-0 pb-0 pr-1">
        <button type="button" class="close main-modal-icon" data-dismiss="modal" aria-label="Close"><span
            class="float-right" aria-hidden="true">&times;</span></button>
      </div>
      <figure class="modal-body pt-0 pr-0 pb-0 pl-0 mb-0">
        <a href="지도로찾기"><img src="../../image/shop37.PNG" class="main-modal-imgSize rounded" alt="Responsive image"></a>
        <figcaption>
          <div class="pt-0 pb-0 main-modal-icon">
            <div class="left-block float-left"><a href="지도로찾기">개집살롱</a></div>
            <div class="float-right">6 of 12</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>


  <!-- ================================여기까지가 내용이 바뀌는 부분입니다.================================ -->

  <!-- Footer -->
  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 text-left text-white">
        <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a><br><br>
        <b>페타그램</b>&nbsp;&nbsp;&nbsp;서울특별시 서초구 서초대로 77길 13 401호<br>
        <b>대표이사</b> : 풀스택A팀&nbsp;&nbsp;&nbsp;<b>사업자등록번호</b> : 000-00-00000&nbsp;&nbsp;&nbsp;<b>고객센터</b> :
        02-000-0000&nbsp;&nbsp;&nbsp;<b>이메일</b> : help@petagram.com
      </p>
    </div>
  </footer>
  <!-- /.Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> -->
  <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- 캐러셀 -->
  <!-- 자동회전 텀 -->
  <script>
    var timer = setInterval(function () {
      $('#nextButton').trigger('click');
    }, 500)
  </script>

  <!-- hover -->
  <script>
    $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
  );
  </script>
  

  <script>






    
  </script>








</body>

</html>