<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Share_Petagram</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/common.css" rel="stylesheet">

</head>

<body class="bg-light">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a>
      <!-- small display : menu button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- normal display : navigation list -->
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">매장찾기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">자랑하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">커뮤니티</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">고객센터</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회원가입</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.Navigation -->


  <!-- Page Content -->
  <!-- ================================여기 부분부터 내용이 달라집니다.================================ -->
  <div class="container">
    <header class="py-1 mt-4">
      <h2 class="display-5">Share_Petagram
          <c:if test="${sMap.shopVo.shopNo == session.shopNo }">
             <button type="button" class="btn btn-link" data-toggle="modal" data-target=".productAdd">Share</button>
          </c:if></h2>
      <hr class="mb-1">
    </header>


    <h5 class="display-5">Celebrity</h5>
    <hr class="mb-1">

  

    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner rounded">

        <div class="carousel-item active">
          <div class="row mb-5">
            <div class="share-petagram-img">




              
              <!-- share_petagram hearder -->
              <div class="share-basic share-font-weight">
                <img src="../../image/lolozouai.jpg">아이디
                <button type="button" class="etc-basic main-header"><img src="../../image/etc-icon.png"></button>
              </div>
              <!-- //share_petagram hearder -->




              <!-- share_petagram body-img -->
              <div class="share-body-img"><img src="../../image/closer.PNG"></div>
              <!-- //share_petagram body-img -->

              <!-- share_petagram body-content -->
              <div class="share-body-content">
                <div class="share-basic">
                  <button type="button" class="main-icon"><img src="../../image/heart-icon.png"></button>
                  <button type="button" class="main-icon"><img src="../../image/reply-icon.png"></button>
                  <button type="button" class="main-icon"><img src="../../image/direct-icon.png"></button>
                  <button type="button" class="etc-basic main-icon save-icon"><img src="../../image/save-icon.png"></button>
                </div>
                <div class="share-basic">[최근좋아요누른사람]님과 여러 명이 좋아합니다.</div>
                <div class="share-basic share-font-weight">[작성자아이디] 내용</div>
                <div><button type="button" class="replyArea">[댓글 n개 모두 보기]</button></div>
                <div class="share-basic share-font-weight"><img src="../../image/eternersunshine.PNG">아이디 댓글</div>
                <div class="share-basic share-font-weight"><img src="../../image/jose.jpg">아이디 댓글</div>
                <div class="share-basic">[업로드 후 경과 시간]</div>
              </div>
              <!-- //share_petagram body-content -->





              <!-- share_petagram footer -->
              <div class="share-footer">
     
                <textarea rows="2" placeholder="  댓글달기.."></textarea>
                <button type="submit" class="btn-sm btn-primary" style="margin-right: 0.5%; float: right; height: 100%; border: 0; outline: 0; background-color: #f8f9fa; color: gray;">게시</button>
          
              </div>
              <!-- //share_petagram footer -->
            </div>

















            <div class="share-petagram-img">              
              <!-- share_petagram hearder -->
              <div class="share-basic share-font-weight">
                <img src="../../image/lolozouai.jpg">아이디
                <button type="button" class="etc-basic main-header"><img src="../../image/etc-icon.png"></button>
              </div>
              <!-- //share_petagram hearder -->
              <!-- share_petagram body-img -->
              <div class="share-body-img"><img src="../../image/jose.jpg"></div>
              <!-- //share_petagram body-img -->
              <!-- share_petagram body-content -->
              <div class="share-body-content">
                <div class="share-basic">
                  <button type="button" class="main-icon"><img src="../../image/heart-icon.png"></button>
                  <button type="button" class="main-icon"><img src="../../image/reply-icon.png"></button>
                  <button type="button" class="main-icon"><img src="../../image/direct-icon.png"></button>
                  <button type="button" class="etc-basic main-icon save-icon"><img src="../../image/save-icon.png"></button>
                </div>
                <div class="share-basic">[최근좋아요누른사람]님과 여러 명이 좋아합니다.</div>
                <div class="share-basic share-font-weight">[작성자아이디] 내용</div>
                <div><button type="button" class="replyArea">[댓글 n개 모두 보기]</button></div>
                <div class="share-basic share-font-weight"><img src="../../image/eternersunshine.PNG">아이디 댓글</div>
                <div class="share-basic share-font-weight"><img src="../../image/jose.jpg">아이디 댓글</div>
                <div class="share-basic">[업로드 후 경과 시간]</div>
              </div>
              <!-- //share_petagram body-content -->
              <!-- share_petagram footer -->
              <div class="share-footer">     
              
                <textarea rows="2" placeholder="  댓글달기.."></textarea>
                <button type="submit" class="btn-sm btn-primary" style="margin-right: 0.5%; float: right; height: 100%; border: 0; outline: 0; background-color: #f8f9fa; color: gray;">게시</button>
                 
              </div>
              <!-- //share_petagram footer -->
            </div>

            <div class="share-petagram-img">
              <!-- share_petagram hearder -->
              <div class="share-basic share-font-weight">
                <img src="../../image/lolozouai.jpg">아이디
                <button type="button" class="etc-basic main-header"><img src="../../image/etc-icon.png"></button>
              </div>
              <!-- //share_petagram hearder -->
              <!-- share_petagram body-img -->
              <div class="share-body-img"><img src="../../image/lalaland2.PNG"></div>
              <!-- //share_petagram body-img -->
              <!-- share_petagram body-content -->
              <div class="share-body-content">
                <div class="share-basic">
                  <button type="button" class="main-icon"><img src="../../image/heart-icon.png"></button>
                  <button type="button" class="main-icon"><img src="../../image/reply-icon.png"></button>
                  <button type="button" class="main-icon"><img src="../../image/direct-icon.png"></button>
                  <button type="button" class="etc-basic main-icon save-icon"><img src="../../image/save-icon.png"></button>
                </div>
                <div class="share-basic">[최근좋아요누른사람]님과 여러 명이 좋아합니다.</div>
                <div class="share-basic share-font-weight">[작성자아이디] 내용</div>
                <div><button type="button" class="replyArea">[댓글 n개 모두 보기]</button></div>
                <div class="share-basic share-font-weight"><img src="../../image/eternersunshine.PNG">아이디 댓글</div>
                <div class="share-basic share-font-weight"><img src="../../image/jose.jpg">아이디 댓글</div>
                <div class="share-basic">[업로드 후 경과 시간]</div>
              </div>
              <!-- //share_petagram body-content -->
              <!-- share_petagram footer -->
              <div class="share-footer">     
                
                <textarea rows="2" placeholder="  댓글달기.."></textarea>
                <button type="submit" class="btn-sm btn-primary" style="margin-right: 0.5%; float: right; height: 100%; border: 0; outline: 0; background-color: #f8f9fa; color: gray;">게시</button>
                  
              </div>
              <!-- //share_petagram footer -->
            </div>






            







          </div>
        </div>


        <div class="carousel-item">

          <div class="row mb-5">
            <div class="share-petagram-img">
              <div class="share-basic share-font-weight"><img src="../../image/lolozouai.jpg">아이디</div>
              <div class="share-body-img"><img src="../../image/lolozouai03.jpg"></div>
              <div class="share-body-content">
                <div><button type="button" class="glyphicon glyphicon-heart-empty"></button> <button type="button" class="glyphicon glyphicon-comment"></button></div>
                <div><span class="share-font-weight">[petagram]</span>님과 <span class="share-font-weight">여러 명</span>이 좋아합니다.</div>
                <div><span class="share-font-weight">[petagram]</span>[어렵다ㅏ....]</div>
                <div><button type="button">[댓글 n개 모두 보기]</button></div>
                <div><span class="share-font-weight">[bebe]</span>[졸려ㅕㅕ....]</div>
                <div>[글 작성 후 지난 시간]</div>
              </div>
              <div class="share-footer">
                <div>[댓글달기...][게시]</div>
              </div>
            </div>

            <div class="share-petagram-img">
              <div class="share-basic share-font-weight"><img src="../../image/lolozouai.jpg"> 아이디</div>
              <div class="share-body-img"><img src="../../image/lolozouai02.jpg"></div>
              <div class="share-body-content">
                <div>[좋아요] [댓글]</div>
                <div><strong>[가장 최근에 좋아요 누른 사람 아이디]</strong>님과 <strong>여러 명</strong>이 좋아합니다.</div>
                <div><strong>[작성자아이디]</strong> [작성내용]</div>
                <div>[댓글 총 갯수]</div>
                <div><strong>[댓글작성자아이디]</strong>[댓글내용]</div>
                <div>[글 작성 후 지난 시간]</div>
              </div>
              <div class="share-footer">
                <div>[댓글달기...][게시]</div>
              </div>
            </div>

            <div class="share-petagram-img">
              <div class="share-basic share-font-weight"><img src="../../image/lolozouai.jpg"> 아이디</div>
              <div class="share-body-img"><img src="../../image/lolozouai04.jpg"></div>
              <div class="share-body-content">
                <div>[좋아요] [댓글]</div>
                <div><strong>[가장 최근에 좋아요 누른 사람 아이디]</strong>님과 <strong>여러 명</strong>이 좋아합니다.</div>
                <div><strong>[작성자아이디]</strong> [작성내용]</div>
                <div>[댓글 총 갯수]</div>
                <div><strong>[댓글작성자아이디]</strong>[댓글내용]</div>
                <div>[글 작성 후 지난 시간]</div>
              </div>
              <div class="share-footer">
                <div>[댓글달기...][게시]</div>
              </div>
            </div>
          </div>
        </div>

      <!-- 왼쪽 오른쪽 화살표 버튼 -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <!-- <span>Previous</span> -->
      </a>
      
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <!-- <span>Next</span> -->
      </a>
      <!-- / 화살표 버튼 끝 -->
      </div>
    </div>
  



<!-- ==================================================================================================================================================== -->
<!-- ==================================================================================================================================================== -->


    <h5 class="display-5">First_Appear</h5>
    <hr class="mb-1 mb-5">

    <div>
      <div class="row mb-5">
        <div class="share-petagram-img">
          <div class="share-basic share-font-weight"><img src="../../image/lolozouai.jpg">아이디</div>
          <div class="share-body-img"><img src="../../image/lolozouai05.jpg"></div>
          <div class="share-body-content">
            <div>
              <button style="border: 0; outline: 0;" type="button"><img src="../../image/heart-icon.png"></button>
              <button style="border: 0; outline: 0;" type="button"><img src="../../image/reply-icon.png"></button>
              <button style="border: 0; outline: 0;" type="button"><img src="../../image/direct-icon.png"></button>
            </div>
            <div><span class="share-font-weight">[petagram]</span>님과 <span class="share-font-weight">여러 명</span>이 좋아합니다.</div>
            <div><span class="share-font-weight">[petagram]</span>[어렵다ㅏ....]</div>
            <div>[댓글 총 갯수]</div>
            <div><span class="share-font-weight">[bebe]</span>[졸려ㅕㅕ....]</div>
            <div>[글 작성 후 지난 시간]</div>
          </div>
          <div class="share-footer">
            <div>[댓글달기...][게시]</div>
          </div>
        </div>

        <div class="share-petagram-img">
          <div class="share-basic share-font-weight"><img src="../../image/lolozouai.jpg"> 아이디</div>
          <div class="share-body-img"><img src="../../image/lolozouai03.jpg"></div>
          <div class="share-body-content">
            <div>[좋아요] [댓글]</div>
            <div><strong>[가장 최근에 좋아요 누른 사람 아이디]</strong>님과 <strong>여러 명</strong>이 좋아합니다.</div>
            <div><strong>[작성자아이디]</strong> [작성내용]</div>
            <div>[댓글 총 갯수]</div>
            <div><strong>[댓글작성자아이디]</strong>[댓글내용]</div>
            <div>[글 작성 후 지난 시간]</div>
          </div>
          <div class="share-footer">
            <div>[댓글달기...][게시]</div>
          </div>
        </div>

        <div class="share-petagram-img">
          <div class="share-basic share-font-weight"><img src="../../image/lolozouai.jpg"> 아이디</div>
          <div class="share-body-img"><img src="../../image/lolozouai02.jpg"></div>
          <div class="share-body-content">
            <div>[좋아요] [댓글]</div>
            <div><strong>[가장 최근에 좋아요 누른 사람 아이디]</strong>님과 <strong>여러 명</strong>이 좋아합니다.</div>
            <div><strong>[작성자아이디]</strong> [작성내용]</div>
            <div>[댓글 총 갯수]</div>
            <div><strong>[댓글작성자아이디]</strong>[댓글내용]</div>
            <div>[글 작성 후 지난 시간]</div>
          </div>
          <div class="share-footer">
            <div>[댓글달기...][게시]</div>
          </div>
        </div>
      </div>
    </div>




  </div>
  <!-- ================================여기까지가 내용이 달라지는 부분입니다.================================ -->

  <!-- Footer -->
  <footer class="bg-dark">
    <div class="container">
      <p class="m-0 text-left text-white">
        <a class="navbar-brand" href="#"><img src="../../image/lettering-bright.png"></a><br><br>
        <b>페타그램</b>&nbsp;&nbsp;&nbsp;서울특별시 서초구 서초대로 77길 13 401호<br>
        <b>대표이사</b> : 풀스택A팀&nbsp;&nbsp;&nbsp;<b>사업자등록번호</b> : 000-00-00000&nbsp;&nbsp;&nbsp;<b>고객센터</b> :
        02-000-0000&nbsp;&nbsp;&nbsp;<b>이메일</b> : help@petagram.com
      </p>
    </div>
  </footer>
  <!-- /.Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- 캐러셀 -->
  <!-- 자동회전 텀 -->
  <script>
    var timer = setInterval(function () {
      $('#nextButton').trigger('click');
    }, 500)
  </script>

  <!-- hover -->
  <script>
    $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
  );
  </script>
  
</body>

</html>